<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Recruitment.Properties.Settings.OnlineRecruitmentConnectionString"
            connectionString="Data Source=DESKTOP-O7M3KNK;Initial Catalog=OnlineRecruitment;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Recruitment.Properties.Settings.ProjectConnectionString"
            connectionString="Data Source=DESKTOP-O7M3KNK;Initial Catalog=Project;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>